
<div class="bar bar-balanced">
  <h1 class="title">Header</h1>
</div>
<BR><BR><BR><BR><BR>

<div class="row">
  <div class="col text-center"><h1>Homy &copy;</h1></div>
</div>  
<div class="row">
  <div class="col text-center">Version 0.0.39</div>
</div>  
<div class="row">
  <div class="col text-center">Developed by Catalin Batrinu</div>
</div>
<div class="row">
  <div class="col text-center">bcatalin@gmail.com</div>
</div>
<div class="row">
  <div class="col text-center">29 OCtober 2017</div>
</div>

<div class="row">
  <div class="col text-center">03062016003-02</div>
</div>

<div class="bar bar-footer bar-balanced">
  <div class="title">Homy &copy; Copyright 2017</div>
</div>	
<!-- </ion-view> -->
