<ion-view view-title="Temp and Humidity details">
  <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-tabs class="tabs-positive tabs-icon-only">
     
     <ion-tab title="Dth" icon-on="ion-ios-toggle" icon-off="ion-ios-toggle-outline"> 
	    <ion-content>
		  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
		   <BR><BR> 	
	      <ion-list ng-hide="hideSensor">
             <ion-item ng-repeat="item in dth" >
                 <i class="icon ion-thermometer"></i>  {{item.temperature}} &deg;C
             </ion-item>
             <ion-item ng-repeat="item in dth" >
                <i class="icon ion-waterdrop"></i> {{item.humidity}} %
             </ion-item>
          </ion-list>               
        </ion-content>
     </ion-tab>
        
     
     
     <ion-tab title="Info" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <ion-view>
          <div ng-include src="'templates/tab_detail.html'"></div>
        </ion-view>
     </ion-tab>
  </ion-tabs>
  
</ion-view>

