               
<ion-content class="has-header">           
 <ul class="list">
   <li class="item">  IP Address:  {{my_device_info.ipaddress}} </li>
   <li class="item">  Network Type(B=1/G=2/N=3): {{my_device_info.bgn}}</li>
   <li class="item">  Device up time: {{my_device_info.uptime}} min </li>
   <li class="item">  Version: {{my_device_info.version}}</li>
   <li class="item">  SDK: {{my_device_info.sdk}}</li>
   <li class="item">  Alexa Name: {{my_device_info.alexa}}</li>
  </ul>
</ion-content>
